@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Mine";
}

<br>
<br>
<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {

            <li>
                <div class="date">
                    <div class="month">@course.DateTime.ToString("MM")</div>
                    <div class="day">@course.DateTime.ToString("dd")</div>
                </div>
                <div>
                    <div class="details">
                        <span class="lecture"><b>@course.LectureName</b></span><br>
                        <span class="category">@course.Category.Name</span>
                    </div>
                    <div class="action">
                        @Html.ActionLink("Edit", "Edit", new { id = course.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = course.Id })
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

